<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>penajaman web</title>
 <link rel="website icon" type="png" href="/static/achan.png">
  
    
</head>
<body>
   
    <div class="welkom">
        <h1>    MASUKAN GAMBAR NYA </h1>
    </div>
    <div class="formulir">
        <form action="/succsess" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                <input type="file" name="mentah"> 
                </tr>
                <tr>
                    <input type="submit" name="lanjut" value="ok">
                </tr>
                <tr>
                     <input type="reset" value="reset">
                </tr>
            </table>
          
           
           
          
        </form>
        
    </div>

    <div class="tampil">
       <img src="/static/achan.png">
    </div>

    

    
</body>
</html>