<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="website icon" type="png" href="static/achan.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>succsess</title>
</head>
<body>
    <h1>hasil dari gambarnya </h1>

    <div class="before">
        sebelum:
      
    </div>

    <div class="after">
        setelah:
        <img width="500px" src="{{ imagee }}">
    </div>
    <form action="/ulang" method="post" enctype="multipart/form-data">
        <input type="submit" name="ulangi" value="kembali">
    </form>

</body>
</html>